h1 {
  text-align: center;
  font-family: Arial;

}

body {
  font-family: arial;
  text-align: left;
  background-color: aqua;
}
a {
  font-color: green;
  font size: 30px;
  font height: 40px
}

ul {
  text-align: center;
}